DATABASE_URL="file:./dev.db"
SESSION_COOKIE_NAME="luxfocuss_session"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
AUTH_SECRET="luxfocuss_ultra_secure_random_hex_32_bytes_min_secret"
SUPER_ADMIN_NAME="Super Administrator"
SUPER_ADMIN_EMAIL="superadmin@luxfocuss.com"
SUPER_ADMIN_PASSWORD="ChangeMeInProd123!"